@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* =======gobal styles========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.w-100{
    width: 100%;
}
.mb-15{
    margin-bottom:15px ;
}
.container{
    width: 1200px;
    margin: auto;
}
/* =================header============= */
header{
    height: 70px;
    background-color: blue;
    margin-bottom: 50px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    color: #fff;
    width: 30px;
    height: 30px;
}
.header-text{
    display: flex;
    align-items: center;
}
.header-text span{
    color: #fff;
}
.header-text-item{
    color: #fff;
    text-decoration: none;
    padding: 15px;
}
.header-text-item:hover{
    color: #ccc;
}
.shopping-icon{
    color: #fff;
    padding-right: 30px;
    transition: 0.3s;
}
.shopping-icon:hover{
    color: grey;
}
.logo a{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}
nav a:hover{
    color: #ccc;
}
/* ============footer=================== */
footer{

    margin-top: 70px;
    padding: 50px 0;
    background-color: #ccc;
    text-align: center;
}
.body-container{
    min-height: calc(100vh - 70px);
}
/* =============auth=============== */
.auth-form-container{
    margin: auto;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.auth-form-container form h1{
    text-align: center;
    padding-bottom: 40px;
}
.auth-form-container .text-input-label{
    display: block;
    margin-bottom: 5px;
}
.auth-form-container .text-input,
.auth-form-container .country{
    height: 35px;
    width: 100%;
    padding: 0 15px;
}
.form-group{
    margin-bottom: 15px;
}
.form-group a{
    padding: 10px 0;
}
.submit{
    margin-top: 20px;
}
.btn-primary{
    display: block;
    width: 100%;
    height: 35px;
    background-color: rgb(77 , 77 ,179);
    color: #fff;
    border: 0;
    cursor: pointer;
    margin-bottom: 15px;
}
.reset-pass-link{
    display: block;
    text-align: center;
    font-size: 15px;
}
/* =========registration========= */
.sex-container{
    display: inline-block;
}
.submit a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
